.day{
    background-color: #ffffff;
    color:black;
}
.night {
    background-color: #292c2e;
    color: #ffffff;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  
  }
.selection-point{
    width:10em;
    height:10em;;
    text-align:center;
    border-style:solid;
    border-width:1%;
    border-color: black;
    margin:2%;
    float:left;
}
.selection-point:hover{
    border-color:yellow;

}
.selection-point:click{
    border-color:green;
}

#rock{
    margin-left:8%;

}
#paper{

}
#scissors{

}
.play{
    text-align: center;
}
.chat{
    text-align: center;
}
